<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Points de Collecte</h1>
            <a href="#">Fermer</a>
        </div>
        <form action="/search">
            <label for="search">Ville</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Recherchez par ville">
                <button>
                    <img src="/assets/search.svg" alt="Rechercher">
                </button>
            </div>
        </form>
    </div>
</div>
